VITE_SUPABASE_URL=<SUPABASE_PROJECT_URL>
VITE_SUPABASE_ANON_KEY=<SUPABASE_PUBLISHABLE_OR_ANON_KEY>
VITE_FRONTEND_URL=<APPROVED_FRONTEND_URL>
VITE_API_URL=<APPROVED_BACKEND_URL>
VITE_ENVIRONMENT=<RUNTIME_ENVIRONMENT>
VITE_PERSISTENCE_ENABLED=<true-or-false>
VITE_DEMO_MODE=<true-or-false>
VITE_MODE=<VITE_MODE>
VITE_DD_APPLICATION_ID=<DATADOG_APPLICATION_ID>
VITE_DD_CLIENT_TOKEN=<DATADOG_CLIENT_TOKEN>
VITE_DD_SITE=<DATADOG_SITE>
VITE_DD_SERVICE=<DATADOG_SERVICE_NAME>
VITE_DD_ENV=<DATADOG_ENVIRONMENT>
VITE_DD_VERSION=<APPLICATION_VERSION>
