########################################
# APPLICATION
########################################
# API
########################################
# APPLICATION
########################################
VITE_ENV=development
########################################
# API
########################################
VITE_API_URL=https://market-ai-backend-i9v1.onrender.com/
########################################
# SUPABASE
########################################
VITE_AUTH_PROVIDER=supabase
VITE_SUPABASE_URL=https://ilogukxgdhqymgxpxejr.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_iKzeiU7bSm7nSsteuGaWMA_TqntM3Zq
########################################
# DATADOG RUM
########################################
VITE_DD_APPLICATION_ID=1870d67d-2497-4761-bf82-9100232e359c
VITE_DD_CLIENT_TOKEN=pub8c4d1565e26d7157667475a15e44d574
VITE_DD_SITE=datadoghq.com
VITE_DD_SERVICE=market-ai-frontend
VITE_DD_ENV=staging
VITE_DD_VERSION=0.0.0-staging
########################################